:root {
  --bg-primary: #100C1C;
  --bg-secondary: #2a2148;

  --neon-blue:  #55E0FF;
  --neon-green: #59ff6a;
  --neon-pink:  #ff00c8;
  --neon-yellow:#ffd84d;
  --neon-purple:#9a6bff;

  --text-primary: #f4f3ff;
  --text-muted:  #b8b4d9;
  --border-subtle:#3a3160;
}

a {
  text-decoration: none;
  font-family: var(--open-sans);
}

li {
  list-style-type: none;
  font-family: var(--open-sans);
  font-size: .9em;
}



h1{
  font-family: var(--bungee);
  -webkit-text-stroke: 2px black;
  font-weight: 300 !important;
}


h2 {
  font-family: var(--special-gothic);
  color: white;

  /* outline (trace) */
  -webkit-text-stroke: .5px black;
}

h2 {
  font-family: var(--special-gothic);
}

p {
  font-family: var(--open-sans);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary);
  font-family: Open;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}




.wave {
  width: 100%;
  overflow: hidden;
  background: var(--bg-secondary);
  line-height: 0;
}

.waveTrack {
  display: flex;
  width: 200%;
  animation: waveMove 20s linear infinite;
}

.wave svg {
  width: 50%;
  height: 15px;
  fill: var(--bg-primary);
}

@keyframes waveMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}