:root {
  --background: #ffffff;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

h1 {
  font-family: var(--special-gothic);
  text-shadow: 3px 3px 0 black;
  font-size: 2.4em;
  background-color: transparent;
  -webkit-text-stroke: 1px black;
}

p {
  font-family: var(--open-sans);
  color: black;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Open;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
