.title h1 {
  font-size: 86px;
  line-height: 76px;
  margin: 0;

}

.title h2 {
  margin: 0;
}

.title {
  width: 95%;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: end;
  margin-bottom: 64px;
  text-align: right;
  max-width: 1527px;
}

.landingButton {
  background-color: var(--neon-blue);
  padding: 16px 32px;
  color: var(--bg-primary);
  font-weight: 800;
  border-radius: 32px;
  border: solid 2px black;
}

.rainbowText {
  display: inline-block;
  line-height: 1;

  background: linear-gradient(
    120deg,
    var(--neon-blue) 0%,
    var(--neon-green) 22%,
    var(--neon-yellow) 42%,
    var(--neon-pink) 68%,
    var(--neon-purple) 100%
  );

  background-size: 250% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: neonFlow 10s ease-in-out infinite alternate;
}

@keyframes neonFlow {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 100% 0;
  }
}