
.headerParent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px 32px;
    align-items: center;
    background-color: var(--bg-secondary);
}

.headerChild {
    margin: 0;
}

.navItem {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.navContainer {
    padding: 0;
    display: flex;
    gap: 24px;
}