


.headerParent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px 32px;
}

.navItem {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.nav {
    margin: 0;
    padding: 0;
}

.navContainer {
    margin: 0;
}