.footer {
    background: var(--bg-secondary);
    color: white;
    padding: 48px 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footerGreeting {
    width: 100%;
    font-size: 3em;
    margin: 0;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin: 0 auto;
    justify-content: space-between;
}

.footerSection {
    min-width: 150px;
}

.logo {
width: 45px;
}

.footerSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footerSection li {
    margin-bottom: 8px;
}

.footerSection a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.footerSection a:hover {
    opacity: 1;
}

.footerBottom {
    margin-top: 32px;
    text-align: center;
    opacity: 0.6;
    font-size: 14px;
}

.socialMedia {
    margin: 0 auto;
    display: flex;
    gap: 16px;
}

.socialIcon {
    width: 30px;
}